<!-- <div class="carousel-container" (mouseenter)="stopAutoSlide()" (mouseleave)="startAutoSlide()">
  <div class="carousel" #carousel [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">
    <div class="slide" *ngFor="let slide of slides">
      <img [src]="slide.src" alt="Slide">
    </div>
  </div>

  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div> -->


<div class="main-section-title">
  <div class="main-section-text-container">
    <div class="main-section-container-first-box">
      <div class="main-section-first-card">
        <h1>Welder <br> Engineering</h1>
      </div>
    </div>
  </div>
</div>