<div class="main-home-information-section-container">
    <div class="main-home-information-section-container-box">
      <div class="main-home-information-section-text">
        <h1>{{ 'home_info.title' | translate }}</h1>
        <p>{{ 'home_info.description' | translate }}</p>
        <button routerLink="/projects/big-projects" >{{ 'home_info.button' | translate }}</button>
      </div>
      <div class="main-home-information-section-image">
        <img src="../../../../assets/images/home-first-section.jpg" alt="">
      </div>
    </div>
  </div>
  