<div class="main-home-information-section-container">
    <div class="main-home-information-section-container-box">
        <div class="main-home-information-section-text">
            <h1>Welder</h1>
            <p>არის კომპანია რომელიც 11 წლიანი გამოცდილებით მუშაობს ლითონის შედუღების პროექტებზე პროფესიონალურ დონეზე.</p>
            <button>პროექტები</button>
        </div>
        <div class="main-home-information-section-image">
            <img src="https://images.pexels.com/photos/2381463/pexels-photo-2381463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
    </div>
</div>
