<div class="main-home-information-section-container">
    <div class="main-home-information-section-container-box">
      <div class="main-home-information-section-text">
        <h1>{{ 'home_info.title' | translate }}</h1>
        <p>{{ 'home_info.description' | translate }}</p>
        <button routerLink="/projects" >{{ 'home_info.button' | translate }}</button>
      </div>
      <div class="main-home-information-section-image">
        <img src="https://images.pexels.com/photos/2381463/pexels-photo-2381463.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Welder at work">
      </div>
    </div>
  </div>
  