<div class="big-projects-main-container">
  <h1>{{ "big_projects.heading" | translate }}</h1>

  <div class="projects">
    <div
      class="project-card"
      *ngFor="let project of projects; trackBy: trackByProjectId"
      [routerLink]="['/project', project.id]">
      <img [src]="project.imageUrl" alt="{{ project.companyName }}" />
      <div class="overlay">
        <p class="company-name">{{ project.companyName }}</p>
      </div>
    </div>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
