/* ნავბარის ძირითადი სტილები */
.navbar {
  background-color: #ffffff;
  width: 100%;
  padding: 14px 0;
}

/* ნავბარის ლინკები */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 4%;
}

.navbar-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: #001f3f;
  transition: 300ms;
}

.navbar-links a:hover {
  color: #ffffff;
  background-color: #001f3f;
  padding: 10px;
  border-radius: 5px;
}

/* ნავბარის toggle ღილაკი */
.navbar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 200;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  background: #FFFFFF;
  transition: 0.3s;
}

@media (max-width: 768px) {
  /* ნავბარი სრულ ეკრანზე გამოდის */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* ცენტრში გასწორება ვერტიკალურად */
    justify-content: center; /* ცენტრში გასწორება ჰორიზონტალურად */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    backdrop-filter: blur(20px);
    z-index: 100;
  }

  /* როცა ნავბარს დაემატება "open", გამოჩნდება */
  .navbar.open {
    transform: translateX(0);
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center; /* ტექსტის ცენტრში გასწორება */
    text-align: center; /* ტექსტის ჰორიზონტალურად გასწორება */
    gap: 40px;
  }

  .navbar-links a {
    font-size: 35px;
  }

  /* როცა ნავბარს დაემატება "open", გამოჩნდება */
  .navbar.open {
    transform: translateX(0);
  }

  /* ნავბარი იმალება, მაგრამ toggle რჩება */
  .navbar-links {
    display: none;
  }

  .navbar.open .navbar-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  /* toggle ღილაკი ყოველთვის უნდა ჩანდეს */
  .navbar-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 300;
    background-color: #001f3f;
  }
}

/* ანიმაციის ახალი ვერსია */
.navbar-toggle.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.navbar-toggle.open .bar:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
}

.navbar-toggle.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
