<div class="main-home-information-second-section-container">
    <div class="main-home-information-second-section-container-box">
        <div class="main-home-information-second-section-text">
            <h1>Projects</h1>
            <p>Welder კომპანია იღებს პასუხის მგებლობას ნებისმიერი სიდიდის თუ სიმცირის პროექტთან დაკავშირებით.</p>
        </div>
        <div class="main-home-information-second-section-image">
            <img src="https://images.pexels.com/photos/2950108/pexels-photo-2950108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="">
        </div>
    </div>
</div>