<div class="main-home-information-second-section-container">
  <div class="main-home-information-second-section-container-box">
    <div class="main-home-information-second-section-text">
      <h1>{{ 'home_info_second_section.title' | translate }}</h1>
      <p>{{ 'home_info_second_section.description' | translate }}</p>
    </div>
    <div class="main-home-information-second-section-image">
      <img
        src="https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VsZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
        alt=""
      />
    </div>
  </div>
</div>
