<div class="welder-group-about-main-container">
    <div class="welder-group-container">
        <div class="welder-header">
          <h1 class="header-title">Welder Group</h1>
          <p class="header-subtitle">მტკიცე კავშირი, მუდმივი სანდოობა!</p>
        </div>
      
        <div class="content">
          <p class="intro-text">
            Welder Group-ველდერ გრუპი არის სანდო პარტნიორი შედუღების სფეროში, 11-წლიანი გამოცდილებითა და მაღალი პროფესიონალიზმით.
          </p>
          <p class="intro-text">
            გთავაზობთ ნებისმიერი სახის ლითონის კონსტრუქციის დამზადებას, უმაღლესი ხარისხითა და სიზუსტით — იქნება ეს მცირე ობიექტისთვის, თუ მასშტაბური სამშენებლო პროექტისთვის.
          </p>
          <p class="intro-text">
            ჩვენი გუნდი შედგება სერტიფიცირებული შემდუღებლებისგან, რომლებიც უმაღლეს სტანდარტებსა და უსაფრთხოების ნორმებს იცავენ, რაც სამშენებლო ობიექტებზე მუშაობას კიდევ უფრო კომფორტულს და ორგანიზებულს ხდის დამკვეთებისთვის.
          </p>
          <p class="intro-text">
            ჩვენთვის მთავარი ღირებულებებია ხარისხი, დამკვეთის დროის პატივისცემა და პასუხისმგებლობა — სწორედ ამიტომ, თითოეული პროექტი სრულდება დათქმულ ვადებში და მაქსიმალური სიზუსტით.
          </p>
        </div>
      </div>
</div>
