<div class="welder-group-about-main-container">
  <div class="welder-group-container">
    <div class="welder-header">
      <h1 class="header-title">{{ 'aboutPage.header.title' | translate }}</h1>
      <p class="header-subtitle">{{ 'aboutPage.header.subtitle' | translate }}</p>
    </div>

    <div class="content">
      <p class="intro-text">{{ 'aboutPage.content.1' | translate }}</p>
      <p class="intro-text">{{ 'aboutPage.content.2' | translate }}</p>
      <p class="intro-text">{{ 'aboutPage.content.3' | translate }}</p>
      <p class="intro-text">{{ 'aboutPage.content.4' | translate }}</p>
    </div>
  </div>
</div>
