.main-contact-navigation-box {
  background-color: #ffffff;
  border-bottom: 1px solid #d3d8d5;
  padding: 20px 0px;
}

.main-contact-navigation-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-contact-navigation-box-logo {
  margin-left: 4%;
}
.main-contact-navigation-box-logo .welder-logo {
  font-size: 40px;
  color: #001f3f;
}

.main-contact-navigation-box-contacts {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 5%;
}

.main-contact-navigation-box-contacts .contact-box {
  font-weight: 600;
  color: #27415c;
}

@media screen and (max-width: 768px) {
  .main-contact-navigation-box-contacts {
    display: none;
  }
}
