<div class="main-contact-navigation-box">
    <div class="main-contact-navigation-box-container">
        <div class="main-contact-navigation-box-logo">
            <h1 class="welder-logo">Welder</h1>
        </div>
        <div class="main-contact-navigation-box-contacts">
            <div class="contact-box">
                <p> <i class="bi bi-telephone-fill"></i> Number:<br>+995-000-000-000</p>
            </div>
            <div class="contact-box">
                <p> <i class="bi bi-envelope-fill"></i> Mail:<br>danielbiblaia232#Gmail.com</p>
            </div>
        </div>
    </div>
</div>